.vscode/
__pycache__/
*.zip
*.pickle
*.pkl
*.png
args.txt
records/*
runs/*
BOFormer_models/*
models/*
Decision_Transformer/tb_record/*
20240518_backup1/*
20240521/*
Q_value_Transformer/record/*
Q_value_Transformer/rankings/*
Q_value_Transformer/tb_record/*
Q_value_Transformer/Q_value_Transformer/*
tb_record_3/*
Trajectory-Transformer/plotting/*
TT_test_data/*
logs/*
Trajectory-Transformer/trajectory/datasets/random_data/*
Q_value_Transformer/show.ipynb
Q_value_Transformer/results/
Q_value_Transformer/models/model2/*
Q_value_Transformer/logs/*
Baseline/logs/*
Baseline/results/*
data.ipynb
/test
model_backup/*
optformer_train_f_num_2_demo_1_990.pth
Environment/full/
Environment/partial/
wandb/